
.info-box{
    background: transparent;
    color: white;
    outline: 1px white solid;
    border-radius: 12px;
    min-height: fit-content;
    min-width: 1rem;
}

.info-box > p{
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: small;
    letter-spacing: 3px;
}